{% extends 'users/users_base.html' %}

{% block title_tab %} Log in {% endblock %}

{% block bar_option %} <a href="{{ url_for('register') }}"><h3> Sign Up </h3></a> {% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}" >  
    </head>

    <div class="register_form">
        <h1> Log In </h1>
        <form method="POST" action="">
            <h2 style="text-align:center">{{message}}</h2>
            <div class="txt_field">
                <input id="username" name="username" type="text" class="form-control" required>
                <label> Username </label>
            </div>
            <div class="txt_field">
                <input id="password" name="password" type="password" required>
                <label> Password </label>
            </div>
            <button type="submit" name="createUser" class="register"> Log In </button>
            <div class="register">
                Don't have an account?<a href="{{ url_for('register') }}"> Sign Up </a>
            </div>
        </form>
    </div>

{% endblock %}